{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "jest",
    "prettier"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "@typescript-eslint/ban-types": 0
  }
}